[user]
	name = Niels Berglund
	email = niels.it.berglund@gmail.com
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/nielsb/.gitignore_global
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
